<% include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome To YelpCamp!</h1>
        <p>View Our Handpicked Campgrounds From all over the world!</p>
         <a href="/campgrounds/new" class="btn btn-primary btn-large">Add New Campground</a>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">    
                
                    <div class="caption">
                        <h4><%= campground.name %></h4>    
                    </div>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>